body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game {
  margin: 25px;
  font-size: 16pt;
}

.play-buttons {
  display: flex;
  gap: 50px;
  margin: 25px;
}

.play-buttons button {
  font-size: 24pt;
  width: 150px;
}

#scores {
  display: flex;
  gap: 100px;
}

.score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
